.image-editor-button {
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    margin: 0.25rem;

    transition: color 0.1s;
    color: var(--sidebar-icon-active-color);
}


.image-editor-button.toggle {
    color: var(--sidebar-icon-inactive-color);
}

.image-editor-button.toggle:hover {
    color: var(--sidebar-icon-active-color);
}
