.image-editor {
    position: absolute;
    height: 560px;
    width: 500px;
    top: 200px;

    display: flex;
    flex-direction: column;

    background-color: var(--editor-bg-color);
}

.image-editor-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}