.image-editor-canvas {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.image-editor-canvas-inner {
    display: flex;
    flex-direction: row;
}

.image-editor-canvas-spacer {
    flex-grow: 1;
    min-width: 0.5rem;
    min-height: 0.5rem;
}

.paint-surface {
    margin: auto;
    width: 100%;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}