.image-editor-sidebar {
    width: 5rem;
    height: 100%;
    background-color: var(--editing-tools-bg-color);
}

.image-editor-tool-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: var(--editing-tools-bg-color);
}