.PXTExtension {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
}

.app > div {
    display: flex;
}

.sidebar {
    flex-direction: column;
    width: 16em;
}

.main {
    flex: 1;
}

/* temporary values for display */
.app > div > div {
    display: flex;
    margin: 0.2em;
    font-family: "Roboto Mono", monospace;
}
