.map {
    flex: 1;
}

.zoom {
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.circle-button {
    text-align: center;
    /* vertical-align: middle; */
    width: 3rem;
    height: 3rem;
    background: var(--map-button-bg-color);
    color: var(--map-button-icon-color);
    border-radius: 50%;
    line-height: 3.2rem;
    margin: 0.5rem;
}

.coordinate {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    text-align: left;
}