.map {
    flex: 1;
}

.zoom {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    right: 30px;
}

.zoom span {
    margin: 3px;
}

.coordinate {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    text-align: left;
}