.navigator {
    height: 16em;
    overflow: hidden;
    min-height: 8em;
    justify-content: center;
    align-items: center;
}

.mask {
    position: absolute;
}

.viewport {
    position: absolute;
    border: 2px solid red;
    box-sizing: border-box;
}