.toolbox-panel {
  border: 1px solid #ccc;
  float: none;
}

.toolbox-panel h3 {
  margin: 0;
  padding: 0.5em;
}

.toolbox-panel > .panel-title {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
