.toolbar-panel-grid {
  margin: 10px 0px 10px 5px;
}

.toolbox-panel-grid-tile {
  /* border: 1px solid #aaa; */
  cursor: pointer;
  display: inline-block;
  height: 48px;
  margin: 4px;
  text-align: center;
  width: 48px;
}

.toolbox-panel-grid-tile img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}