.toolbox-panel {
  color: #7f8c8d;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left;
  outline: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.toolbox-panel.expanded {
  height: 100%;
}

.panel-contents:not(.collapsed) {
  height: 100%;
  overflow: auto;
}

.collapsible {
  max-height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.collapsible.collapsed {
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
}

.toolbox-panel h3 {
  margin: 0;
  padding: 1em;
}

.toolbox-panel > .panel-title {
  display: flex; flex-flow: row; justify-content: space-between;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.toolbox-panel {
  background-color: transparent;
}

.panel-icon {
  float: right;
}
