.toolbox-panel {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #7f8c8d;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.toolbox-panel h3 {
  margin: 0;
  padding: 0.5em;
}

.toolbox-panel > .panel-title {
  display: flex; flex-flow: row; justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: #20bf6b;
  color: white;
  margin: 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.toolbox-panel {
  background-color: transparent;
}

.panel-icon {
  float: right;
}
